<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %>
<% end %>

<% if login? %>
  <a href='/logout'>Logout</a>
<% else %>
  <a href='/auth/slack'>Sign in with Slack</a>
<% end %>

<% if login? %>
<form action="/token" method="post" role="form">
 <div class="form-group">
   <label for="post_title">Slack Webhook URL:</label>
   <br>
   <input id="token" class="form-control" name="slack_webhook_url" type="text" value="<%= @slack_webhook_url %>" style="width=90%" />
 </div>
 <button type="submit" class="btn btn-success">Submit</button>
</form>
<% end %>
