<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">BeatsBot pipes in the current Beats 1 song live into a Slack channel.</h4>
        <h4 class="hero-sub-heading">So that you can show your coworkers how good you are in music.</h4>
        <a class="button button-primary" href="/start">Start here</a>
      </div>
      <div class="one-half column screenshot">
        <img src="images/screenshot.png">
      </div>
    </div>
  </div>
</div>
