<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">BeatsBot pipes in the current Beats 1 song live into a Slack channel.</h4>
        <h4 class="hero-sub-heading">So that you can talk music with your coworkers. 🎵</h4>
        <a class="button button-primary" href="/start">Start here</a>
        <h4 class="hero-subline">If you are interested in building app on the latest Beats 1 song, you can use the API available <a href="/latest">here</a>.</h4>
      </div>
      <div class="one-half column screenshot">
        <img src="images/screenshot.png">
      </div>
    </div>
  </div>
</div>
